@charset 'utf-8';

@mixin setGridArea($col_start, $col_span_end, $row_start, $row_span_end) {
  grid-column: $col_start / span $col_span_end;
  grid-row: $row_start / span $row_span_end;
}
@mixin setGrid($display, $col, $col_fr, $rows, $rows_fr, $gap) {
  display: $display;
  grid-template-columns: repeat($col, $col_fr);
  grid-template-rows: repeat($rows, $rows_fr);
  grid-gap: $gap;
}
@mixin setFlex($display, $jus, $align) {
  display: $display;
  justify-content: $jus;
  align-items: $align;
}

@mixin setPosition($pos, $top, $right, $bottom, $left, $zIdx) {
  position: $pos;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  z-index: $zIdx;
}

// 색상을 변수로 저장하여 전체적으로 바꾸기 쉽게
$ColorWhite: white;
$Colorgray: rgb(142,142,142);
$ColorBlack: black;
$ColorBlack2: rgba(23,23,23,0.7);


// font-size
$font-sm: 12px;
$font-md: 14px;
$font-lg: 24px;
$font-x-lg: 32px;
$font-x-lg_02: 42px;

section {
  width: calc(100% - 80px);
}





